---
layout: default
title: Condense
tagline: From Data Into Action
---
{% include JB/setup %}

<div id="headerwrap">
  <div class="container">
    <div class="row">
      <h1>There's <br> profit <br> hiding in <br> your data.</h1>
    </div>
  </div>
</div>

<div id="cta">
  <div class="container centered">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Welcome to Condense.</h3>
        <p>At <b>Condense</b> we think creatively about how data-driven decisions
          can lead to new product ideas and strategies for improving key business operations.
          In other words, we make business better with data.</p>

        <br>
        <a href="mailto:hello@condense.com.au" class="btn btn-embossed btn-primary">Contact us</a>
      </div>
    </div>
  </div><!-- /container -->
</div>

<div class="container">
  <br>
  <br>
  <div class="row svgicons centered">
    {% for service in site.data.services %}
    <div class="col-sm-4">
      <a href="/work.html">
        <img src="{{ service.img }}">
      </a>
      <h4>{{ service.area }}</h4>
      <p>{{ service.benefit }}</p>
    </div><!-- col-sm-4 -->
    {% endfor %}
  </div><!-- /row -->
  <br>
</div>

<div class="container">
  <div class="row centered">
    <a href="/work.html" class="btn btn-warning"><span class="fui-plus"></span> How we can help</a>
  </div>
  <br>
  <br>

</div>

<script src="/assets/themes/condense/js/Chart.js"></script>
<script>
  chart_options = {
    segmentShowStroke : false,
    percentageInnerCutout : 70,
  };
</script>
<style>
  .oldie canvas { display: none; }
</style>
<div id="sp1">
  <div class="container">
    <div class="row centered">
      <h3>The Data Revolution is now.  Don't get left behind.</h3>
      <br>
      <!-- First Chart -->
      <div class="col-sm-4">
        <!--[if lt IE 9]> <img src="{{ ASSET_PATH }}/images/do90.png" width="130" alt=""><![endif]-->
        <canvas id="canvas" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
        <br>
        <script>
          var doughnutData = [
            {
              value: 90,
              color:"#34495e"
            },
            {
              value : 10,
              color : "#eee"
            }
          ];
          var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData, chart_options);
        </script>
        <p><b>BIG DATA</b></p>
        <p>90% of data in the world has been created in the last 2 years alone.</p>
      </div><!-- /col-sm-4 -->

      <!-- Second Chart -->
      <div class="col-sm-4 ">
        <!--[if lt IE 9]> <img src="{{ ASSET_PATH }}/images/do70.png" width="130" alt=""> <![endif]-->
        <canvas id="canvas2" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
        <br>
        <script>
          var doughnutData = [
            {
              value: 70,
              color:"#34495e"
            },
            {
              value : 30,
              color : "#eee"
            }
          ];
          var myDoughnut = new Chart(document.getElementById("canvas2").getContext("2d")).Doughnut(doughnutData, chart_options);
        </script>
        <p><b>BIG RETURNS</b></p>
        <p>Over 70% of Australian businesses believe data can deliver gains in productivity and innovation.</p>
      </div><!-- /col-sm-4 -->

      <!-- Third Chart -->
      <div class="col-sm-4">
        <!--[if lt IE 9]> <img src="{{ ASSET_PATH }}/images/do81.png" width="130" alt=""> <![endif]-->
        <canvas id="canvas3" height="130" width="130" style="width: 130px; height: 130px;"></canvas>
        <br>
        <script>
          var doughnutData = [
            {
              value: 81,
              color:"#34495e"
            },
            {
              value : 19,
              color : "#eee"
            }
          ];
          var myDoughnut = new Chart(document.getElementById("canvas3").getContext("2d")).Doughnut(doughnutData, chart_options);
        </script>
        <p><b>BIG NEED</b></p>
        <p>81% of employees say that critical data resources are not available to them.</p>
      </div><!-- /col-sm-4 -->

    </div><!-- /row -->
    <br>
    <br>
  </div><!-- container -->
</div>

<div class="container sinfo">
  <div class="row">
    <div class="col-sm-7">
      <h4>The Data Revolution is now.  Don't get left behind.</h4>

      <p>Intelligent businesses know their data and how to use it. They have
        the advantage of transparency. Transparency empowers managers
        to make the right decisions for stronger returns and more
        opportunities, with more accurate insights into their best customers.
      </p>

      <p>The question is... how do you use data? Where do you start? What
        tools do you use? What are the best practices?</p>

      <p>That's where we come in.</p>

    </div>

    <div class="col-sm-5">
      <br>
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <div class="alert alert-success">
            <p>Find out more about how <b>Condense</b> can work for you.</p>
            <a href="/about.html" class="btn btn-primary btn-wide"><i class="fui-link"></i> Company Profile</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
