---
layout: default
group: navigation
title : Thinking
description:
tagline:
---
{% include JB/setup %}


<div class="container">

  <div class="row">
    <!-- Content Section -->
    <div class="sinfo col-sm-8 col-lg-offset-1 col-lg-6">

      {% for post in site.categories.thinking %}

      <div class="blogcontent">
        <!-- First Post -->
        {% if post.img-responsive %}
        <img class="img-responsive" src="{{ post.img-responsive }}" alt="">
        {% endif %}
        <h6><a href="{{ post.url }}">{{ post.title }}</a></h6>
        <small><span class="fui-user"></span> {{ post.author }} | <span class="fui-calendar"></span> {{ post.date | date_to_long_string }}
        </small>
        {% if post.tag_line %}
        <p class="lead">{{ post.tag_line }}</p>
        {% endif %}

        {{ post.content }}

        <br>
      </div>
      {% endfor %}
    </div>


    <!-- Sidebar Section -->
    <div class="sidebar sinfo col-sm-4">
      {% include themes/condense/sidebar.html %}
    </div><!-- col-lg-4 / Sidebar -->



  </div>
</div>

