---
layout: page
group: navigation
title : Thinking
description:
tagline:
weight: 80
---
{% include JB/setup %}

{% assign posts_collate = site.tags.thinking %}
{% include JB/posts_collate %}

<p><a href="thinking/research.html">Research work</a></p>

<p>Active projects:</p>
<ul>
  {% assign pages_list = site.pages %}
  {% assign group = 'project' %}
  {% include JB/pages_list %}
</ul>

<p>TODO: Write some posts!</p>

<p>TODO: Think about how we present research pages along side latest posts.</p>
