---
layout: default
group: "navigation"
title: "Work"
heading: "CONSULTING"
tagline: ""
description:
---
{% include JB/setup %}

<div id="servicewrap">
  <div class="container">
    <div class="row">
      <h1>We make business better with data.</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-lg-offset-2">
      <br>
      <p class="lead">
        At Condense, we help businesses to take advantage of data. We create the processes to transform data into informed action. Moreover, we empower people with the tools and know-how to leverage their own data assets, even if they aren't stats savvy.
      </p>
      <p class="lead">Want to know more?  <a href="/contact.html">Get in touch today</a>.</p>
      <h3>Our services</h3>
    </div>
  </div><!-- /row -->
</div>

<div class="container">

  <div class="row hidden-xs">
    <div class="col-sm-5 col-md-offset-1  col-lg-offset-2">
      <p class="lead">Your objectives&hellip;</p>
    </div>
    <div class="col-sm-5">
      <p class="lead">We can deliver&hellip;</p>
    </div>

  </div>

  {% for service in site.data.services %}
  <div class="row">
    <div class="col-sm-1 col-lg-offset-1 hidden-sm hidden-xs">
      <img width="60" src="{{ service.img }}">
    </div>
    <div class="col-sm-5">
      <p>{{ service.benefit }}</p>
    </div>
    <div class="col-sm-5">
      <ul>
        {% for feature in service.features %}
        <li>{{ feature }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <br>
  {% endfor %}

</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-lg-offset-2">
      <h3>Next steps</h3>
      <p>Find out more <a href="/about.html">about Condense</a> or <a href="/contact.html">contact us</a> today.</p>
      <br>
      <br>
    </div>
  </div><!-- /row -->
</div>


<div id="sp1">
  <div class="container">
    <div class="row">
      <br>
      <h3>You can have the transparency to make the right decisions that will give your business the best returns.</h3>
      <br>
    </div>
  </div><!-- /container -->
</div>
