---
layout: default
group: "navigation"
title: "Work"
heading: "CONSULTING"
tagline: ""
description:
---
{% include JB/setup %}

<div id="servicewrap">
  <div class="container">
    <div class="row">
      <h1>We make business better with data.</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <p class="lead">
        At Condense, we help businesses to take advantage of data. We create the processes to transform data into informed action. Moreover, we empower people with the tools and know-how to leverage their own data assets, even if they aren't stats savvy.
      </p>

      <p class="lead">
        Want to know more? Talk to us today
      </p>

    </div>
  </div><!-- /row -->
</div>


<div class="container">
  <br>
  <div class="row hidden-xs">
    <div class="col-sm-5 col-md-offset-1  col-lg-offset-2">
      <b>Your objectives&hellip;</b>
    </div>
    <div class="col-sm-5">
      <b>We can deliver&hellip;</b>
    </div>

  </div>

  {% for service in site.data.services %}
  <div class="row">
    <div class="col-sm-1 col-lg-offset-1 hidden-sm hidden-xs">
      <img width="60" src="{{ service.img }}">
    </div>
    <div class="col-sm-5">
      <p>{{ service.benefit }}</p>
    </div>
    <div class="col-sm-5">
      <ul>
        {% for feature in service.features %}
        <li>{{ feature }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

</div>

<br>
<br>
<br>


<div id="sp1">
  <div class="container">
    <div class="row">
      <br>
      <h3>You can have the transparency to make the decisions that will give your business the best returns.</h3>
      <br>
    </div>
  </div><!-- /container -->
</div>
