
<div class="container">
  <div class="row centered">

    {% if page.heading or page.description %}
    <div class="col-lg-7 col-lg-offset-1">
      {% if page.heading %}
      <h3 class="heading">{{ page.heading }}</h3>
      {% endif %}
      {% if page.description %}
      <p class="lead">{{ page.description }}</p>
      {% endif %}
    </div>
    {% endif %}

    {% if page.header-image %}
    <br>
    <div class="col-lg-10 col-lg-offset-1">
      <img class="img-responsive" src="{{ page.header-image }}" alt="">
    </div>
    {% endif %}
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-9">
      {{ content }}
    </div>
  </div>
</div>
