
<div class="container">
  <div class="row centered">
    <br>
    <br>

    {% if page.heading or page.description %}
    {% if page.heading %}
    <h3 class="heading">{{ page.heading }}</h3>
    {% endif %}
    {% if page.description %}
    <p class="lead">{{ page.description }}</p>
    {% endif %}
    {% endif %}
    <br>

    {% if page.header-image %}
    <br>
    <div class="col-lg-10 col-lg-offset-1">
      <img class="img-responsive" src="{{ page.header-image }}" alt="">
    </div>
    {% endif %}
  </div>
</div>
<div class="container">
  <div class="row">
    {{ content }}

  </div>
  <br>
  <br>
</div>
