
<div class="container">
  <div class="row">
    <!-- Content Section -->
    <div class="col-sm-8 col-md-8 col-lg-7 sinfo">

      <div class="blogcontent">
        <!-- First Post -->
        {% if page.img-responsive %}
        <img class="img-responsive" src="{{ page.img-responsive }}" alt="">
        {% endif %}
        <h6>{{ page.title }}</h6>
        <small><span class="fui-user"></span> {{ page.author }}
        </small>
          <!-- | <span class="fui-chat"></span> 4 Comments -->
        {% if page.tag_line %}
        <p class="lead">{{ page.tag_line }}</p>
        {% endif %}

        {{ content }}

        <br>
      </div>
      <div class="alert">
        <button class="close fui-cross"></button>
        <h3>Like This Post?</h3>
        <p>Consider to register to our newsletter. We share our thoughts and cool information. Don't miss a thing. Subscribe Now!</p>
        {% include themes/condense/subscribe.html %}
        <br>
      </div>

      <hr>
      <br>

      {% include JB/comments %}

    </div><!-- col-lg-8 / Content Section -->


    <!-- Sidebar Section -->
    <div class="sidebar sinfo col-sm-4">

      <div class="pagination">
        <ul>
          {% if page.previous %}
          <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
          {% else %}
          <li class="prev disabled"><a>&larr; Previous</a></li>
          {% endif %}
          {% if page.next %}
          <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
          {% else %}
          <li class="next disabled"><a>Next &rarr;</a></li>
          {% endif %}
          </ul>
      </div>

      <hr>

      {% include themes/condense/sidebar.html %}

    </div><!-- col-lg-4 / Sidebar -->


  </div><!-- /row -->
</div>



