<form action="http://condense.us3.list-manage1.com/subscribe/post?u=41b3112391783009760c7b269&amp;id=7bdeef0cdf"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" validate>
  <p><input type="email" placeholder="Add your email here" value="" name="EMAIL" class="form-control flat required email" id="mce-EMAIL"></p>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_41b3112391783009760c7b269_7bdeef0cdf" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                            class="btn btn-wide btn-primary"></div>
</form>
