
<div class="container">
  <div class="row">
    <br>
    <br>
    <div class="col-lg-8">
      <h3>{{ page.title }}</h3>
      {% if page.description %}
      <p class="lead">{{ page.description }}</p>
      {% endif %}
    </div>

    {% if page.header-image %}
    <br>
    <div class="col-lg-10 col-lg-offset-1">
      <img class="img-responsive" src="{{ page.header-image }}" alt="">
    </div>
    {% endif %}
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8">
      {{ content }}
    </div>
  </div>
</div>
