---
layout: thinking
group:
title: "Projects"
description:
tagline: ""
---
{% include JB/setup %}


<div class="ch-grid">
  {% assign pages_list = site.pages %}
  {% assign group = 'project' %}
  {% for node in pages_list %}
  {% if group == null or group == node.group %}

  <div class="col-lg-4">
    <li>
      <a href="{{ BASE_PATH }}{{node.url}}">
        <div class="ch-item {{ node.thumbnail-class }}">
          <div class="ch-info">
            <h3>{{ node.thumbnail-hover-msg }}</h3>
            <p>by Good Team <a href="{{ BASE_PATH }}{{node.url}}">View Project</a></p>
          </div>
        </div><!-- /ch-img-1 -->
        <h6><b>{{node.title}}</b><br/> Web Design</h6>
      </a>
    </li>
  </div><!-- /col-lg-4 -->

  {% endif %}
  {% endfor %}

</div>
